body {
    background-color: #F5F5F5;
  }
  .sidebar {
  background-color: #2F323A;
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  }

  .sidebar-nav-link {
  color: #ffffff;
  }

  .active-sidebar-nav-link {
  background-color: #56A4FF;
  }

  .navbar {
  position: fixed;
  top: 0;
  left: 185px;
  width: calc(100% - 200px);
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .Logo{
    padding-top: 10%;
    padding-bottom: 10%;
    height: 15%;
    width: 95%;
  }

  .btn-create {
  width: 109px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  text-decoration: none;
  background-color: #56a4FF;
  border: 1px solid #56A4FF;
  border-radius: 5px;
  }

  .navbar-brand {
  margin-left: 15px;
  }

  .navbar-brand + span {
  margin-right: 15px;
  }
  .dark-section {
  background-color: #22242A;
  height: 48px;
  width: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .dark-section svg{
  height: 16px;
  width: 16px;
  }

  .content {
    padding-top: 80px;
  }
  .table-header {
    background-color: #FAFAFA;
    padding: 1.50rem;
  }
  .bg-light{
      margin-left: 15px;
  }

  h2{
      margin-top: 105px;
  }
  .span{
      margin-right: 300px;
  }

  .table td, .table th {
  padding: 1.50rem;
  border-top: 1px solid #000000;
  margin-right: 50px;
  }
  .table{
  width: 80%;
  margin-top: 20px;
  border-spacing: 0 20px;
  }

  .table svg {
    width: 16px;
    height: 16px;
    fill: #000000;
  }
  .table-header th{
      margin-right: 20px;
      padding: 1.5rem 5.3rem 1.5rem 5.9rem;
  }
  .table td {
    padding: 20px;
    text-align: center;
  }

  .sidebar-item {
    padding: 10px;
    color: white;
    text-decoration: none !important;
    display: block;
  }

  .sidebar-item.selected {
    background-color: #56A4FF;
    color: white;
  }

  .profile-info {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
}